.align-self-center {
	align-self: center;
}

.adcmdr-fr {
	float: right;
}

.adcmdr-fl {
	float: left;
}

.adcmdr-clr {
	clear: both;
	display: block;
	float: none;
}

.adcmdr-needs-consent {
	display: none;
}
